<!--正文-->
<div class="content">
	<div class="header">
		<h1 class="page-title">
			{{if $id eq ""}}
			新建敏感词
			{{else}}
			编辑敏感词
			{{/if}}
		</h1>
		<ul class="breadcrumb">
			<li><a href="/chat/sensitivity">敏感词管理</a> </li>
			<li class="active">
				{{if $id eq ""}}
				新建敏感词
				{{else}}
				编辑敏感词
				{{/if}}
			</li>
		</ul>
	</div>
	<div class="main-content">
		<!-- action="/chat/sensitivity?do=edited&id={{$id}}"-->
		<form  name="f1" id="f1"   method="post" action="/chat/sensitivity?do=edited&id={{$id}}" >
			<div class="form-group"  >
				<label class="form-label form-group-left">敏感词</label>
				<div id="item-box" style="max-height:500px;overflow-y:auto;margin-top:15px ">
				</div>
			</div>
			{{if $id eq ""}}
				<div class="form-group" style="margin: 15px auto">
					<label class="form-label form-group-left"  ></label>
					<input type="button" class="btn-primary btn" id="additem" value="添加敏感词"/>
				</div>
				<!--{{if $smarty.session.partnerid == 1}}-->
				<!--<div class="form-group  form-group-select">-->
					<!--<label class="form-label form-group-left" >所属电台<strong class="must"> *</strong></label>-->
					<!--<div class="dropdown form-group-right">-->
						<!--<select class="dropdown-toggle form-select-character" name="fdPartnerID" required>-->
							<!--<option value="">选择电台</option>-->
							<!--{{foreach from=$partners name=nar item=partner}}-->
							<!--<option value="{{$partner.id}}" {{if $row.fdPartnerID==$partner.id}}selected{{/if}}>-->
								<!--{{$partner.fdName}}-->
							<!--</option>-->
							<!--{{/foreach}}-->
						<!--</select>-->
					<!--</div>-->
					<!--<div id="fdPartnerID-error" class="input-error hidden" style="display: block;">不能为空</div>-->
				<!--</div>-->
				<!--{{/if}}-->
			{{else}}
			{{/if}}
			<div class="clearfix"></div>
			<div class="finish">
				<button class="btn btn-success" type="submit">完成</button>
				{{if $id eq ""}}
				{{else}}
					<button class="btn btn-default" type="button"
							onclick="window.location.href = window.document.referrer;"
					>取消</button>
				{{/if}}

			</div>
		</form>
		<footer>
			<hr>
			<p class="pull-right">© 2016 <a href="" target="_blank">广州涛略科技有限公司</a></p>
		</footer>
	</div>
</div>
<!--模板 begin-->
<div class="hidden" id="filt_temp">
	<div class="form-group-right">
		<label class="form-power-right form-label hidden">所属聊天室：</label>
		<select class="form-power-right form-control room_id hidden {showSelectRoom}" name="item[a_{seq}][fdRoomId]" required>
			<!--<option value="">选择聊天室</option>-->
			<option value="0"  selected >所有聊天室适用</option>
			<!--{{foreach from=$rooms.ar name=nar item=room}}-->
			<!--<option value="{{$room.id}}" >-->
				<!--{{$room.fdName}}-->
			<!--</option>-->
			<!--{{/foreach}}-->
		</select>
		<!--<label class="form-power-right form-label">条件:</label>-->
		<select class="form-power-right form-control hidden" name="item[a_{seq}][fdCondition]" required>
			<option value="unInclude"  {selectedUn}>不包含</option>
			<!--<option value="include" {selectedI}>包含</option>-->
		</select>
		<!--<label class="form-power-right form-label">值：</label>-->
		<input type="hidden" required name="item[a_{seq}][id]" value="{id}"
			   class="form-power-right form-control"   maxlength="15" />
		<input type="hidden" required name="item[a_{seq}][fdPartnerID]" value="{{$smarty.session.partnerid}}"
			   class="form-power-right form-control"   maxlength="15" />
		<input type="text" required name="item[a_{seq}][fdValue]" value="{value}"
			   class="form-power-right form-control fd_value"   maxlength="15" />
		{{if $id eq ""}}
		<button type="button" class="close delitm" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
		{{else}}
		{{/if}}

	</div>
</div>
<!--模板 end-->
<script>
    (function($){
		var tmpi = 0;
		var sensitivity = '{{$sensitivity}}';
		function initItem(sensitivity){
			sensitivity = JSON.parse(sensitivity);
			var item = $("#item-box");
			for(var i=0;i<sensitivity.length;i++){
				var s = sensitivity[i];
				str =$(getFiltTemp({
					seq:tmpi,
					value:s["fdValue"],
					selectedUn:s["fdCondition"]=="include"?"":"selected",
					selectedI:s["fdCondition"]=="include"?"selected":"",
					showSelectRoom:"hidden",
					id:s["id"]
				}));
				str.find(".room_id").val(s["fdRoomId"]);
				item.append(str);
				tmpi++;
			}
			bindDelItemClickEvent();
			item.get(0).scrollTop = item.get(0).scrollHeight;
		}
		function getFiltTemp(opts){
			return nano($("#filt_temp").html(),opts);
		}

		$("#additem").click(function () {
			var item = $("#item-box");
			str =getFiltTemp({
				seq:tmpi
			});
			item.append(str);
			tmpi++;
			bindDelItemClickEvent();
			item.get(0).scrollTop = item.get(0).scrollHeight;
		});
		{{if $id eq ""}}
			$("#additem").trigger("click");
		{{else}}
			initItem(sensitivity);
		{{/if}}
		//绑定 删除 过滤条件
		function bindDelItemClickEvent(){
			$(".delitm").unbind("click").bind("click", function () {
				var id = $(this).data("id");
				if(id&&id!=0){
				}
				else{
					$(this).parent().remove();
				}
			});
		}
		bindDelItemClickEvent();
		$("#f1").validate({
			onkeyup: true,
			wrapper: "p",
			onsubmit:true,
			errorClass: "error",
			errorElement:"div",
			errorPlacement: function (error, element) {
				$("#"+element.attr("name")+"-error").removeClass("hidden");
			},
			success:function(lable){
				$("#"+lable.attr("id")).addClass("hidden");
			},
			submitHandler: function(form){
				var inputs = $("#f1 .fd_value"),input,inputVal,canSubmit=true;
				for(var i=0;i<inputs.length;i++){
					input = $(inputs[i]);
					inputVal = trim(input.val());
					if(inputVal){
						input.val(inputVal);
						input.removeClass("error");
					}
					else{
						input.addClass("error");
						canSubmit = false;
						input.val(inputVal);
					}

				}

				if(canSubmit){
					$("#f1").ajaxSubmit(function() {
						{{if $id eq ""}}
						window.location.href='/chat/sensitivity';
						{{else}}
						window.location.href = window.document.referrer;
						{{/if}}
						});
				}


//				form.submit();
			},
			rules:{
				fdName:{
					required:true,
					rangelength:[1,35]
				}
			},
			messages:{
				npwda:{
					equalTo:"两次密码输入不一致"
				},
				applyETime:{
					greaterThanDate:"必须大于当前时间"
				},
				sportBTime:{
					greaterThanDate:"必须大于报名截止时间"
				}
			}

		});

    })(window.jQuery);
</script>
