<!--正文-->
<div class="content">
	<div class="header">
		<h1 class="page-title">聊天室列表</h1>
		<ul class="breadcrumb">
			<li><a href="/chat/index">聊天室管理</a> </li>
			<li class="active">聊天室列表</li>
		</ul>

	</div>
	<div class="main-content">
		<div class="btn-toolbar list-toolbar pull-left">
			<button class="btn btn-success start_room" data-type="top_btn">启用</button>
			<button class="btn btn-default stop_room"  data-type="top_btn">停用</button>
			<button class="btn btn-danger del_room" data-type="top_btn">删除</button>
			<div class=" search form-group-select">
				<!--<button class="btn btn-default" id="clear_search">清除</button>-->
				<button class="btn btn-info" id="search_btn">搜索</button>
				{{if $smarty.session.partnerid == 1}}
				<div class="dropdown form-group-right">
					<select class="dropdown-toggle form-select-character" id="search_partner">
						<option value="">选择电台</option>
						{{foreach from=$partners name=nar item=partner}}
						<option value="{{$partner.id}}" {{if $partnerid==$partner.id}}selected{{/if}}>
							{{$partner.fdName}}
						</option>
						{{/foreach}}
					</select>
				</div>
				{{/if}}
				<input class="form-control" id="search_room_name" value="{{$roomName}}" type="text" placeholder="输入聊天室名称">
			</div>

		</div>
		<table class="table">
			<thead>
			<tr>
				<th  ><input type="checkbox" name="topCheckbox" value="-1"/></th>
				<th  >编号</th>
				<th  >名称</th>
				{{if $smarty.session.partnerid == 1}}
				<th>所属电台</th>
				{{/if}}
				<th  >创建时间</th>
				<th  >评论总数</th>
				<th  >用户总数</th>
				<th  >状态</th>
				<th  >操作</th>
			</tr>
			</thead>
			<tbody>
			{{foreach from=$ar name=nar item=row}}
			<tr >
				<td ><input type="checkbox" name="checkbox" value="{{$row.id}}" /></td>
				<td>{{$row.fdNum}}</td>
				<td>{{$row.fdName}}</td>
				{{if $smarty.session.partnerid == 1}}
				<td>{{$row.partnerName}}</td>
				{{/if}}
				<td>{{$row.fdCreated}}</td>
				<td>
					{{$row.messageTotal|default:0}}
				</td>
				<td>
					{{$row.userTotal|default:0}}
				</td>
				<td >
					{{if $row.fdStatus  eq "stop"}}
					<span class="status-stop">停用</span>
					{{else}}
					<span class="status-work">启用</span>
					{{/if}}
				</td>
				<td>
					<a href="/chat/index?do=edit&id={{$row.id}}" title="编辑"><i class="icon-pencil"></i></a>
					<a href="javascript:;"  class="del_room" data-id="{{$row.id}}" title="删除"><i class="icon-trash"></i></a>
					{{if $row.fdStatus eq "stop"}}
					<a href=""><i class="icon-play start_room hidden"></i></a>
					{{else}}
					<a href=""><i class="icon-pause stop_room hidden"></i></a>
					{{/if}}
					<a href="/chat/index?do=usermanage&roomNum={{$row.fdNum}}" title="用户管理"><i class="icon-user"></i></a >
					<a href="/chat/index?do=messagemanage&roomNum={{$row.fdNum}}" title="评论管理" style="margin-left: 4px"><i class="icon-comments"></i></a >
				</td>
			</tr>
			{{/foreach}}
			</tbody>
		</table>
		<div class="page" style="text-align:center">
			{{$sy}}
		</div>
		<footer>
			<hr>
			<p class="pull-right">© 2016 <a href="" target="_blank">广州涛略科技有限公司</a></p>
		</footer>
	</div>
</div>
<script>
    (function($){
		$(".del_room").click(function(){
			var ar=new Array();
			var type = $(this).data("type");
			if(type=="top_btn"){
				$.each($("input[type=checkbox]:checked"),function(k,v){
					ar[k]=v.value;
				});
			}
			else{
				if(ar.length==0){
					ar[0]=$(this).data("id");
				}
			}
			if(ar.length>0){
				modalmsg.confirm("确定删除吗？",function(){
					$.ajax({
						type: "GET",
						url: "/chat/index?do=del",
						data: {
							ids:ar
						},
						cache:false
					}).done(function(msg){
						var msgJson = JSON.parse(msg);
						if(msgJson[0]==0){
							window.location.reload();
						}else{
							alert(msgJson[1])
						}
					});
				});

			}
			else{
				modalmsg.alert("请选择要删除的聊天室");
			}
		});
		$(".stop_room").bind("click",function(){
			var ar=new Array();
			var type = $(this).data("type");
			if(type=="top_btn"){
				$.each($("input[type=checkbox]:checked"),function(k,v){
					ar[k]=v.value;
				});
			}
			else{
				if(ar.length==0){
					ar[0]=$(this).data("id");
				}
			}
			if(ar.length>0){
				modalmsg.confirm("确定停用吗？",function(){
					$.ajax({
						type: "GET",
						url: "/chat/index?do=stoproom",
						data: {
							ids:ar
						},
						cache:false
					}).done(function(msg){
						var msgJson = JSON.parse(msg);
						if(msgJson[0]==0){
							window.location.reload();
						}else{
							alert(msgJson[1])
						}
					});

				});
			}
			else{
				modalmsg.alert("请选择要停用的聊天室");
			}
		});
		$(".start_room").bind("click",function(){
			var ar=new Array();
			var type = $(this).data("type");
			if(type=="top_btn"){
				$.each($("input[type=checkbox]:checked"),function(k,v){
					ar[k]=v.value;
				});
			}
			else{
				if(ar.length==0){
					ar[0]=$(this).data("id");
				}
			}

			if(ar.length>0){
				modalmsg.confirm("确定启用吗？",function(){
					$.ajax({
						type: "GET",
						url: "/chat/index?do=startroom",
						data: {
							ids:ar
						},
						cache:false
					}).done(function(msg){
						var msgJson = JSON.parse(msg);
						if(msgJson[0]==0){
							window.location.reload();
						}else{
							alert(msgJson[1])
						}
					});
				});
			}
			else{
				modalmsg.alert("请选择要启用的聊天室");
			}

		});
		$("#search_btn").bind("click",function(){
			var roomName = $("#search_room_name").val();
			var partnerId = $("#search_partner").val();
			window.location.href='/chat/index?roomName='+roomName+'&partnerid='+partnerId;
		});
		$("#clear_search").bind("click",function(){
			window.location.href='/chat/index';
		});
    })(window.jQuery);
</script>
