<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>涛略管理平台</title>
    <link rel="stylesheet" href="./{{$user_dir_theme}}/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="./{{$user_dir_theme}}/css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="./{{$user_dir_theme}}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./{{$user_dir_theme}}/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./{{$user_dir_theme}}/css/font.css">
    <link rel="stylesheet" type="text/css" href="./{{$user_dir_theme}}/css/all-purpose.css">
    {{if $do eq 'add' or $do eq 'edit' or $do eq 'shipmentdetail'}}
    <link rel="stylesheet" type="text/css" href="./{{$user_dir_theme}}/css/create.css">
    {{else}}
    <link rel="stylesheet" type="text/css" href="./{{$user_dir_theme}}/css/list.css">
    {{/if}}
    <link rel="stylesheet" type="text/css" href="./{{$user_dir_theme}}/css/addic.css">
    <link rel="stylesheet" type="text/css" href="./{{$user_dir_theme}}/css/jquery.datetimepicker.css">

    <!--<link rel="stylesheet" type="text/css" href="css/layout.css">-->
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/jquery.min.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/for.jquery.validate.cn.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/angular.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/modalmsg.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/utils.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/nano/nano.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/moment.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/Sortable.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/all-purpose.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/myjs.js"></script>
    <script type="text/javascript" src="./{{$user_dir_theme}}/js/script.js"></script>

    <style>

    </style>
    <script>

    </script>
</head>