<div class="content">
    <div class="header">
        <h1 class="page-title">新建用户</h1>
        <ul class="breadcrumb">
            <li><a href="">用户管理</a> </li>
            <li class="active">新建用户</li>
        </ul>
    </div>
    <div class="main-content">
        <form>
            <div class="form-group">
                <label class="form-label form-group-left" for="form-title">用户名</label>
                <input type="text" class="form-control form-group-right" id="form-title" placeholder="不超过35字">
            </div>
            <div class="form-group">
                <label class="form-label form-group-left" for="">密码</label>
                <input type="password" class="form-control form-group-right" id="" placeholder="">
            </div>
            <div class="form-group">
                <label class="form-label form-group-left" for="">真实姓名</label>
                <input type="text" class="form-control form-group-right" id="" placeholder="">
            </div>
            <div class="form-group">
                <label class="form-label form-group-left" for="">联系电话</label>
                <input type="text" class="form-control form-group-right" id="" placeholder="">
            </div>
            <div class="form-group">
                <label class="form-label form-group-left" for="">所属电台</label>
                <div class="dropdown form-group-right">
                    <input type="text" class="form-control dropdown-toggle form-input-character" id="" placeholder="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <ul class="dropdown-menu dropdown-menu-character" aria-labelledby="dropdownMenu1">
                        <li><a href="#">乐途</a></li>
                        <li><a href="#">92.4</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label form-group-left" for="">所属角色</label>
                <div class="dropdown form-group-right">
                    <input type="text" class="form-control dropdown-toggle form-input-character" id="" placeholder="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <ul class="dropdown-menu dropdown-menu-character" aria-labelledby="dropdownMenu1">
                        <li><a href="#">帅哥</a></li>
                        <li><a href="#">美女</a></li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
        <div class="finish">
            <button class="btn btn-success">完成</button>
            <button class="btn btn-default">取消</button>
        </div>
        <footer>
            <hr>
            <p class="pull-right">© 2016 <a href="" target="_blank">广州涛略科技有限公司</a></p>
        </footer>
    </div>
</div>