<div class="content">
    <div class="header">
        <h1 class="page-title">提示信息</h1>
        <ul class="breadcrumb">
            <li class="active">提示信息</li>
        </ul>
    </div>
    <div style="margin: 50px auto;font-size: 20px;text-align: center;padding: 15px 0;border-radius: 5px;" class="main-content">
        <i class="icon-warning-sign modal-icon"></i>
        <span>没有相关权限</span>
    </div>
    <footer>
        <hr>
        <p class="pull-right">© 2016 <a href="" target="_blank">广州涛略科技有限公司</a></p>
    </footer>
</div>