<div class="content">
    <div class="header">
        <h1 class="page-title">修改密码</h1>
        <ul class="breadcrumb">
            <li><a href="">用户管理</a> </li>
            <li class="active">修改密码</li>
        </ul>
    </div>
    <div class="main-content">
        <form method="post" id="f1">
            <div class="form-group">
                <label class="form-label form-group-left" for="">原密码<strong class="must"> *</strong></label>
                <input type="password" class="form-control form-group-right require" id="fdPasswordOld" name="fdPasswordOld" placeholder="" onblur="validatep()" onfocus="clearme('spwd','')" ><div id="spwd" class="input-error"></div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="form-label form-group-left" for="">密码<strong class="must"> *</strong></label>
                <input type="password" class="form-control form-group-right require" id="fdPassword" name="fdPassword" placeholder="6~16个字符，区分大小写" onblur="validatep1()" onfocus="clearme('spwd1','')"><div id="spwd1" class="input-error"></div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="form-label form-group-left" for="">确认密码<strong class="must"> *</strong></label>
                <input type="password" class="form-control form-group-right require" id="fdPassword2" name="fdPassword2" placeholder="6~16个字符，区分大小写" onblur="validatep2()" onfocus="clearme('spwd2','')"><div id="spwd2" class="input-error"></div>
            </div>
        </form>
        <div class="clearfix"></div>
        <div class="finish">
            <input type="button" class="btn btn-success" id="stbtn" value="完成"/>
            <input onclick="window.location.href = window.document.referrer;" type="button" class="btn-default btn" value="取消"/>
        </div>
        <footer>
            <hr>
            <p class="pull-right">© 2016 <a href="" target="_blank">广州涛略科技有限公司</a></p>
        </footer>
    </div>
</div>
<script src="./{{$user_dir_theme}}/js/md5.js"></script>
<script>
function validatep(){
    pass=$('#fdPasswordOld').val();
    // rt=validatePWD(pass,'spwd','input-error');
    // if(!rt){
    //     $('#fdPasswordOld').addClass("error");
    //     return false;
    // }
    pass=hex_md5(pass);
    $.ajax({
        type: "GET",
        url:"/admin/changepass?do=ajax_checkpass&pass="+pass,
        dataType : 'JSON',  
        cache:false,
        success: function(msg){
            if(msg.error_code==0){

            }else{
                $('#fdPasswordOld').addClass("error");
                $('#spwd').html(msg.error_msg);
                $('#spwd').addClass('input-error');
            }
        },
        error:function(){},
        timeout:5000
    })
}

function validatep1(){
    password1=$('#fdPassword').val();
    rt=validatePWD(password1,'spwd1','input-error');
    if(!rt){
        $('#fdPassword').addClass("error");
    }
}
function validatep2(){
    password1=$('#fdPassword').val();
    password2=$('#fdPassword2').val();
    rt=validatePWD2(password1,password2,'spwd2','input-error');
    if(!rt){
        $('#fdPassword2').addClass("error");
    }
}

$("#f1").on('focus','.error',function(){
    $(this).removeClass("error");
    $(this).next(".input-error").html('');
});

a3=false;
$("#stbtn").click(function(){
    pwd=$("#fdPasswordOld").val();
    pwd1=$("#fdPassword").val();
    pwd2=$("#fdPassword2").val();
    
    a1=validatePWD(pwd1,'spwd1','input-error');
    a2=validatePWD2(pwd1,pwd2,'spwd2','input-error');

    if(a1==false){
        $("#fdPassword").addClass("error");
    }
    if(a2==false){
        $("#fdPassword2").addClass("error");
    }

    formchecker.check("#f1");
    if(!formchecker.flag){
        return false;
    }
    
    if(a1&&a2){
        pwd=hex_md5(pwd);
        pwd1=hex_md5(pwd1);
        pwd2=hex_md5(pwd2);
        $("#fdPasswordOld").val(pwd);
        $("#fdPassword").val(pwd1);
        $("#fdPassword2").val(pwd2);
        $("#f1").submit();
    }
    return false;
});
</script>